@import "../../resource/styles/variables";

.btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnText {
  padding: 7px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $studio-dark-text;
  background: $studio-primary-button;
  border-radius: 10px;
  text-decoration: none;
  transition: $studio-transition-03;
  &:hover {
    background: $studio-primary-button-hover;
  }
}
