@import '../../resource/styles/variables';

.button {
    display: inline-block;
    border-radius: 10px;
    background-color: $studio-base-elements;
    padding: 10px 15px;

    &__text {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2em;
        font-weight: 500;
    }
}

