@import '../../resource/styles/variables';


.project {
    // max-width: 390px;
    width: 390px;
    height: 220px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: 0.3s;
    overflow: hidden;
    &:hover{
        outline: 2px solid $studio-base-elements;
        -webkit-box-shadow: 0px 0px 16px 7px rgba(114, 255, 247, 0.2);
        -moz-box-shadow: 0px 0px 16px 7px rgba(114, 255, 247, 0.2);
        box-shadow: 0px 0px 16px 7px rgba(114, 255, 247, 0.2);
        transform: scale(1.02);
        
    }


    &__blur{
        position: absolute;
        background: $studio-black-opacity-03;
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    &__photo {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        filter: blur(2px);
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 96px;
        left: 50%;
        transform: translate(-50%);
        &__title{
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: $studio-white-text;
        }
        &__name{
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.2em;
            color: $studio-white-text;
        }
    }

    &__bottom_info {
        position: absolute;
        bottom: 10px;
        padding: 0 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__stats {
        display: flex;
        &_item{
            display: flex;
            align-items: center;
            margin-right: 15px;
            img {
                height: 13px;
            }
            &:last-child {
                margin: 0;
            }
            &_value {
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: $studio-white-text;
                margin-left: 5px;
            }
        }
    }

    &__date {
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.2em;
        color: $studio-white-text;
    }
}


