@import "../../resource/styles/variables";

.first {
  display: flex;
  flex-direction: column;
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: block;
    &Title {
      color: $studio-white-text;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 15px;
    }
    &Input {
      width: 280px;
      height: 30px;
      background-color: $studio-text-button;
      border-radius: 20px;
      border: 2px solid $studio-base-elements;
      color: $studio-white-text;
      font-size: 16px;
      padding: 0 20px;
      outline: none;
      &Pass {
        padding-right: 45px;
      }
    }
    &Email {
      margin: 15px 0;
      input {
        width: 100%;
      }
    }
    &Bottom {
      position: relative;
      img {
        position: absolute;
        right: 10px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &Sign {
      display: flex;
      &Text {
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: $studio-white-text;
        margin-right: 7px;
      }
      &Link {
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: $studio-base-elements;
        transition: all 0.3s;
        &:hover {
          color: $studio-button-hover;
        }
      }
    }
  }
}
