@import "../../resource/styles/variables";

.spSelect {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  background-color: $studio-dark-element;
  border-radius: 5px;
  padding: 30px 45px;
  &__title {
    color: $studio-white-text;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.2em;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
  }
  &__item {
    color: $studio-white-text;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: $studio-transition-03 ease;
    &:hover {
      color: $studio-primary-text-hover;
    }
  }
}

@media (max-width: $lg) {
  .spSelect {
    &__wrapper {
      justify-content: start;
    }
  }
}
