@import '../../resource/styles/variables';

.messageContent {
	max-width: 450px;
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	color: $studio-dark-text;
	// background-color: $studio-primary-element;
	// border-radius: 10px 10px 10px 0;

	&__text {
		word-wrap: break-word;
		word-break: break-word;
		white-space: pre-wrap;
		font-size: 14px;
		font-weight: 500;
	}
	&__info {
		height: min-content;
		display: flex;
		gap: 5px;
		align-items: center;
		margin-top: auto;
		&Time {
			display: block;
			font-size: 12px;
		}

		&View {
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				display: block;
			}
			&Second {
				opacity: 0;
				transition: .3s;
				
			}
			&_active .messageContent__infoViewSecond {
				opacity: 1;
			}
		}


	}

	&_other {
		color: $studio-white-text;
		background-color: $studio-light-dark-element;
		&::before {
			background-color: $studio-light-dark-element;
		}
	}

	// &__info {
		
	// 	&Time {

	// 	}

	// 	&View {
	// 		&_active {

	// 		}

	// 		&Second {

	// 		}
	// 	}

	// }
}