@import "../../resource/styles/variables";

.password-recovery {
  position: relative;
  height: calc(100vh - 100px);
  transform: translateY(50px);
  display: flex;
	flex-direction: column;
  align-items: center;
	justify-content: center;
	
	&__errors {
    position: absolute;
    right: 100px;
    top: 0px;
    z-index: 99;
  }

	&__complete {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    z-index: 99;
  }

	&__back-page {
		position: absolute;
    top: 0;
    left: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: $studio-transition-03;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      @include studio-mixin-white-element-hover;
    }
    &:active {
      @include studio-mixin-white-element-active;
    }
	}

	&__top {
		position: absolute;
		top: 100px;
	}

	&__title {
		font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: $studio-white-text;
		margin-bottom: 36px;
	}

	&__stage {
		display: flex;
    align-items: center;
    min-height: 170px;
    max-width: 600px;
    width: 100%;

		&-item {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 15px;
		}

		&-title {
			color: $studio-white-text;
			font-size: 16px;
			font-weight: 500;
		}

		&-inner {
			position: relative;
		}

		&-input {
			width: 100%;
			height: 40px;
			background-color: #27323e;
			border-radius: 10px;
			border: 2px solid #97bce6;
			color: #fcfcfc;
			font-size: 16px;
			padding: 0 20px;
			outline: none;
			transition: 0.3s;
			&-error-text {
				font-size: 14px;
				color: rgb(255, 149, 149);
			}
		}

		&-eye {
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			align-items: center;
			border-radius: 0 20px 20px 0;
			width: 40px;
			height: 100%;
			cursor: pointer;
			justify-content: center;
			svg {
				width: 20px;
				height: 20px;
				path {
					stroke: $studio-white-element;
				}
			}
		}

		&-code {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			&-wrapper {
				display: flex;
				gap: 20px;
			}

			&-input {
				width: 50px;
				height: 60px;
				outline: 0;
				background-color: transparent;
				border: 2px solid $studio-primary-border;
				color: $studio-white-text;
				border-radius: 10px;
				font-size: 20px;
				text-align: center;
				opacity: 0.5;
				transition: opacity $studio-transition-03 ease;
				&_active {
					opacity: 1;
				}
			}
		}

		&-new-password {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 100%;
		}

		&-bottom {
			max-width: 600px;
			width: 100%;
			margin-top: 50px;
			transition: .3s .3s;
		}

		&-button {
			margin-top: 50px;
		}
	}
}