@import "../../resource/styles/variables";

.block {
  display: flex;
  flex-direction: column;
  color: $studio-white-text;
  width: 100%;
	padding: 15px 15px 15px 95px;
  position: relative;
	background-color: $studio-darker-element;
	border-radius: 10px;
  transition: grid-template-rows 0.3s ease;
  &__avatar {
    max-width: 70px;
    width: 100%;
    max-height: 70px;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 15px;
    top: 15px;
    &Img {
      position: absolute;
      width: 120%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__top {
    &__info {
      display: flex;
      gap: 20px;
    }
  }
  &__link {
    display: inline-block;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    &Name {
      display: inline-block;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
      color: $studio-white-text;
    }
    &Comment {
      font-size: 16px;
      font-weight: 400;
    }
    &Bottom {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &Feedback {
        display: flex;
        gap: 20px;
        align-items: center;
        &Item {
          font-size: 14px;
          font-weight: 100;
          cursor: pointer;
          display: flex;
          gap: 10px;
          align-items: center;
          &Image {
            width: 16px;
            svg {
              width: 100%;
              display: block;
            }
          }
          &:last-child {
            margin: 0;
          }
          &Count {
            color: $studio-white-text;
          }
        }
        &Like {
          font-size: 14px;
          font-weight: 100;
          cursor: pointer;
          display: flex;
          gap: 10px;
          align-items: center;
          padding: 5px 10px;
          background: $studio-dark-element;
          border-radius: 5px;
        }
      }
      &Date {
        font-size: 14px;
        color: $studio-grey-text;
      }
    }
  }
  &__input {
    display: flex;
    gap: 20px;
    width: 100%;
    min-height: 0px;
    &__wrapper {
      display: grid;
      grid-template-rows: 0fr;
      transition: 0.3s ease;
    }
    input {
      width: 100%;
      border: none;
      background: none;
      color: $studio-white-text;
      padding: 5px 10px;
      border-bottom: 1px solid $studio-primary-border;
      outline: none;
      animation: unWrap 0.6s ease-out forwards;
      &::placeholder {
        color: $studio-grey-text;
      }
    }
    &__buttons {
      display: flex;
      max-width: 300px;
      gap: 10px;
      margin-left: auto;
      &__item {
        padding: 5px 10px;
        border: 1px solid $studio-primary-border;
        background: $studio-primary-element;
        border-radius: 5px;
        color: $studio-dark-text;
        transition: $studio-transition-03;
        cursor: pointer;
        &_border {
          background: none;
          color: $studio-primary-text;
          &:hover {
            background: $studio-primary-button-hover;
            color: $studio-dark-text;
          }
        }
        &:hover {
          background: $studio-primary-button-hover;
        }
      }
    }
  }
}

@keyframes unWrap {
  0% {
    width: 0;
    border-bottom: 1px solid transparent;
  }
  100% {
    width: 100%;
    border-bottom: 1px solid $studio-primary-border;
  }
}