@import '../../resource/styles/variables';

.achievement {
  max-width: 150px;
  width: 100%;
  height: 200px;
  border-radius: 5px;
  background-color: $studio-dark-element;
  box-shadow: $studio-box-shadow-element;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $studio-white-text;
  padding: 15px 5px 15px 5px;
  &__info {
    max-width: 100px;
    width: 100%;
    height: 100px;
  }
  &__icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    &:hover {
      &::after {
        content: attr(data-title);
        position: absolute;
        text-align: center;
        width: clamp(100%, 270px, 300px);
        left: 100%;
        bottom: 100%;
        z-index: 1;
        background: $studio-white-text;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        padding: 4px 6px;
        color: $studio-dark-text;
        border-radius: 5px;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
  }
  &__getDate {
    font-weight: 100;
    font-size: 13px;
    line-height: 16px;
  }
}
