{
  email admin@26studio.ru
}

# боевой хост
26studio.ru, www.26studio.ru {
  encode zstd gzip

  @api path /api*
  handle @api {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy frontend:80
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Referrer-Policy "strict-origin-when-cross-origin"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "SAMEORIGIN"
  }
}

# временно: чтобы по IP не казалось "мертвым"
:80 {
  redir https://26studio.ru{uri}
}
# УДАЛИ блок :443 полностью
