version: '3'

services:
  postgres:
    container_name: postgres
    image: postgres:16.2-alpine3.19
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=studio26
    ports:
      - 5432:5432

  backend:
    build: ./server
    ports:
      - 3000:3000
    restart: always
    environment:
      - PORT=3000
      - DB_NAME=postgres
      - DB_USER=postgres
      - DB_PASSWORD=studio26
      - DB_HOST=postgres
      - DB_PORT=5432
    depends_on:
      - postgres
      - frontend
  frontend:
    build: ./client
    ports:
      - 80:80
    restart: always
