@import '../../resource/styles/variables';

.card {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $studio-text-button;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: 2px solid transparent;
    cursor: pointer;
    transition: $studio-transition-03;
    &:hover {
        @include studio-mixin-primary-element-hover;
    }
    &__icon {
        margin-bottom: 20px;
    }
    &__title {
        font-size: 24px;
        color: $studio-white-text;
        font-weight: 500;
        letter-spacing: 4.8px;
    }
}