// Original theme

//background
$studio-background: #1e262f;

// header
$studio-background-header: #1f2933;
// box-shadow
$studio-box-shadow-header: 0px -48px 83px #000000;
/*------------------------------------------------------------------*/

// footer
$studio-background-footer: transparent;

/*------------------------------------------------------------------*/

// burger
// box-shadow
$studio-box-shadow-burger: 0px 0px 101px -5px rgba(0, 0, 0, 0.5);

/*------------------------------------------------------------------*/

// element
$studio-primary-element: #97bce6;
$studio-white-element: #fcfcfc;
$studio-dark-element: #27323e;
$studio-darker-element: #222c36;
$studio-grey-element: #3c4752;
$studio-red-element: #ff9595;
// hover
@mixin studio-mixin-primary-element-hover {
  outline: 2px solid $studio-primary-border;
  box-shadow: $studio-primary-box-shadow;
}

@mixin studio-mixin-red-element-hover {
  outline: 2px solid $studio-red-border;
  box-shadow: $studio-red-box-shadow;
}

@mixin studio-mixin-dark-element-hover {
  background: $studio-primary-element;
  color: $studio-dark-text;
}
@mixin studio-mixin-white-element-hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0);
  transition: 0.1s ease;
}
$studio-primary-element-hover: #97bce6;
$studio-dark-element-hover: #252c35;
$studio-brightness-element-hover: brightness(1.5);
// active
$studio-primary-element-active: #97bce6;
@mixin studio-mixin-dark-element-active {
  background: $studio-primary-element;
  color: $studio-dark-text;
}
@mixin studio-mixin-white-element-active {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.1s ease;
}
// box-shadow
$studio-box-shadow-element: 0px 4px 4px rgba(0, 0, 0, 0.25);
// blackout
$studio-blackout-element: linear-gradient(
  0deg,
  rgb(39, 50, 62) 0%,
  rgba(39, 50, 62, 0.467) 50%,
  rgba(39, 50, 62, 0) 100%
);

/*------------------------------------------------------------------*/

// text
$studio-primary-text: #97bce6;
$studio-white-text: #fcfcfc;
$studio-dark-text: #27323e;
$studio-grey-text: #72818f;
$studio-red-text: #ff9595;
$studio-light-grey-text: #ffffff8c;
// hover
$studio-primary-text-hover: #acd3ff;
$studio-primary-dark-text-hover: #90aed1be;
// active
$studio-primary-text-active: #97bce6;

/*------------------------------------------------------------------*/

// button
$studio-primary-button: #97bce6;
$studio-white-button: #fcfcfc;
$studio-dark-button: #27323e;
$studio-grey-button: #3c4752;
$studio-red-button: #ff9595;
// hover
$studio-primary-button-hover: #acd3ff;
$studio-primary-button-hover-v2: #97bce6;
/*------------------------------------------------------------------*/

// border
$studio-primary-border: #97bce6;
$studio-white-border: #fcfcfc;
$studio-dark-border: #27323e;
$studio-grey-border: #3c4752;
$studio-red-border: #ff9595;
// hover

// active
$studio-primary-border-active: #97bce6;

/*------------------------------------------------------------------*/

// input
$studio-primary-input: #97bce6;
$studio-white-input: #fcfcfc;
$studio-dark-input: #27323e;
$studio-darker-input: #222c36;
$studio-grey-input: #3c4752;
$studio-black-input: #1d252e;
// focus
@mixin studio-primary-input-focus {
  border: 2px solid $studio-primary-border;
  transform: scale(1.01);
}

/*------------------------------------------------------------------*/

// box-shadow
$studio-primary-box-shadow: 0px 0px 16px 7px rgba(151, 188, 230, 0.2);
$studio-red-box-shadow: 0px 0px 16px 7px rgba(230, 151, 151, 0.2);

/*------------------------------------------------------------------*/

// transition
$studio-transition-01: 0.1s;
$studio-transition-03: 0.3s;
$studio-transition-05: 0.5s;
$studio-transition-06: 0.6s;

/*------------------------------------------------------------------*/

$studio-text-button: #27323e;
$studio-button-hover: #acd3ff;
$studio-header: #1f2933;
$studio-news-card: #11161b;
$studio-menu-color-hover: #252c35;
$studio-comments-end-background: #596470;
$studio-box-shadow-v1: 0px 4px 4px rgba(0, 0, 0, 0.25);
$studio-black-text: #000;
$studio-border-color: #596470;
$studio-black-opacity-02: rgba(0, 0, 0, 0.15);
$studio-black-opacity-03: rgba(0, 0, 0, 0.3);
$studio-black-opacity-05: rgba(0, 0, 0, 0.5);
$studio-primary-opacity-04: rgba(39, 50, 62, 0.4);
$studio-placholder-color: rgba(255, 255, 255, 0.5);

/*------------------------------------------------------------------*/

// media width

$xxl: 1600px;
$xl: 1400px;
$lg: 1200px;
$md: 1024px;
$sm: 768px;
$xs: 576px;
$xxs: 425px;

/*------------------------------------------------------------------*/