$studio-white-text: #fcfcfc;
$studio-base-elements: #97bce6;
$studio-text-button: #27323e;
$studio-button-hover: #acd3ff;
$studio-background: linear-gradient(
  180deg,
  #1f2933 0%,
  #1f2933 15.1%,
  #242f3b 36.01%,
  #242f3b 48.7%,
  #1f2933 57.76%,
  #1f2933 72.27%,
  #242f3b 81.07%,
  #1f2933 94.87%,
  #1f2933 100%
);
$studio-header: #1f2933;
$studio-news-card: #11161b;
$studio-menu-color-hover: #252c35;
$studio-comments-end-background: #596470;
$studio-box-shadow-v1: 0px 4px 4px rgba(0, 0, 0, 0.25);
$studio-black-text: #000;
$studio-black-opacity-05: rgba(0, 0, 0, 0.5);
$studio-black-opacity-03: rgba(0, 0, 0, 0.3);

$xxl: 1650px;
$xl: 1460px;
$lg: 1260px;
$md: 1035px;
