$studio-white-text: #FCFCFC;
$studio-base-elements: #72FFF7;
$studio-text-button: #27323E;
$studio-button-hover: #62D8FD;
$studio-background: linear-gradient(180deg, #1F2933 0%, #1F2933 15.1%, #242F3B 36.01%, #242F3B 48.7%, #1F2933 57.76%, #1F2933 72.27%, #242F3B 81.07%, #1F2933 94.87%, #1F2933 100%);
$studio-header: #1F2933;
$studio-news-card: #11161B;
$studio-menu-color-hover: #252c35;
$studio-comments-end-background: #596470;
$studio-box-shadow-v1: 0px 4px 4px rgba(0, 0, 0, 0.25);
$studio-black-opacity-05: rgba(0, 0, 0, 0.5);
$studio-black-opacity-03: rgba(0, 0, 0, 0.3);