@import './reboot.scss';
@import '../../pages/registration/registration.scss';
@import '../../pages/auth/auth.scss';
@import '../../pages/profile/profile.scss';
@import '../../pages/projects/projects.scss';
@import '../../pages/news/news.scss';
@import '../../pages/messenger/messenger.scss';
@import '../../pages/project/project.scss';
@import '../../pages/newsPaper/newsPaper.scss';
@import '../../pages/groups/groups.scss';
@import '../../pages/group/group.scss';
body {
  background: $studio-background;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  display: block;
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__inner {
    flex: 1 1 auto;
  }
  // padding-right: 0;
  // transition-delay: 0.15s;
  // transition-duration: 0.3s;
}

@media (max-width: $xxl) {
  .container {
    max-width: 1470px;
  }
}

@media (max-width: $xl) {
  .container {
    max-width: 1270px;
  }
}

@media (max-width: $lg) {
  .container {
    max-width: 1070px;
  }
}

@media (max-width: $md) {
  .container {
    max-width: 810px;
  }
}

@media (max-width: $sm) {
  .container {
    max-width: 630px;
  }
}

@media (max-width: $xs) {
  .container {
    max-width: 480px;
  }
}

@media (max-width: $xxs) {
  .container {
    max-width: 100%;
  }
}
