@import '../../resource/styles/variables';

.message { 
	display: flex;
	gap: 10px;
	&__avatar {
		position: sticky;
		bottom: 0;
		align-self: end;
		max-width: 35px;
		width: 100%;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			user-select: none;
		}
	}

	&__list {
		display: grid;
		justify-items: start;
		align-items: flex-start;
		gap: 5px;
		> *:not(*:last-child) {
			border-radius: 5px 10px 10px 5px;
			&::before {
				display: none;
			}
		}
		> *:first-child {
			border-radius: 10px 10px 10px 5px;
		}
		> *:last-child {
			border-radius: 5px 10px 10px 0px;
		}
		> *:only-child {
			border-radius: 10px 10px 10px 0px;
		}
	}
}