@import "../../resource/styles/variables";

.second {
  &__inner {
    margin-bottom: 50px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    display: block;
  }

  &__itemTitle {
    color: $studio-white-text;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__itemInput {
    width: 600px;
    height: 120px;
    background-color: $studio-text-button;
    border-radius: 20px;
    border: 2px solid $studio-base-elements;
    color: $studio-white-text;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    &Pass {
      padding-right: 45px;
    }
    &Area {
      height: 125px;
      padding: 10px 20px;
      resize: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__itemGroup {
    position: relative;
    width: 280px;
    height: 40px;
    border-radius: 15px;
    background-color: $studio-text-button;
    color: $studio-white-text;
    padding: 0 20px;
    appearance: none;
    border: 2px solid $studio-base-elements;
    outline: none;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      position: absolute; /* Абсолютное позиционирование */
      right: 5px;
      bottom: 5px; /* Положение треугольника */
      border: 10px solid transparent; /* Прозрачные границы */
      border-top: 10px solid green; /* Добавляем треугольник */
    }
  }

  &__itemBtn {
    width: 280px;
    height: 40px;
    border-radius: 15px;
    background-color: $studio-text-button;
    color: $studio-white-text;
    padding: 0 20px;
    border: 2px solid $studio-base-elements;
    outline: none;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background-color: $studio-base-elements;
      color: $studio-text-button;
    }
  }
}
