@import "../../resource/styles/variables";
.projectsSearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: $studio-dark-element;
  padding-right: 30px;
  border-radius: 5px;
  &__input {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 24px 30px;
    color: $studio-white-text;
    background-color: $studio-dark-element;
    &::placeholder {
      color: $studio-grey-text;
    }
  }

  &__btn {
  }
}
