@import "../../resource/styles/variables";

.groupCard {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $studio-white-text;
  background-color: $studio-dark-element;
  outline: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: $studio-transition-03;
  &:hover {
    @include studio-mixin-primary-element-hover;
  }

  &__yourGroup {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $studio-primary-text;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
  }

  &__title {
    color: $studio-white-text;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.2em;
    padding: 85px 0;
  }

  &__studentsCount {
    position: absolute;
    bottom: 15px;
    width: 100%;
    color: $studio-white-text;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: center;
  }
}
