.create-anim-enter {
    opacity: 0;
  }
  .create-anim-enter-active {
    opacity: 1;
    transition: opacity 0.3s;
  }
  .create-anim-exit {
    opacity: 1;
  }
  .create-anim-exit-active {
    opacity: 0;
    transition: opacity 0.3s;
  }
  