.node-enter {
  opacity: 0;
}
.node-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}
.node-exit {
  opacity: 1;
}
.node-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}
.node-stage-enter {
  opacity: 1;
}
.node-stage-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}
.node-stage-exit {
  opacity: 1;
}
.node-stage-exit-active {
  opacity: 1;
  transition: opacity 0.3s;
}

