@import "../../resource/styles/variables";

.block {
  display: flex;
  flex-direction: column;
  // padding: 30px 20px;
  border-radius: 5px;
  &__title {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.2em;
    color: $studio-white-text;
    margin-bottom: 10px;
  }
  &__line {
    height: 1px;
    background-color: $studio-white-border;
  }

  &__comments {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 10px;
    overflow-y: auto;
    margin-top: 10px;
		padding: 20px;
		background: $studio-dark-element;
		border-radius: 5px;
		&__text {
			display: block;
			width: 100%;
			text-align: center;
			color: $studio-white-text;
			
		}
    &::-webkit-scrollbar {
      width: 10px;
      background-color: rgba(37, 80, 126, 0.5);
      border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $studio-primary-element;
      border-radius: 5px;
    }
  }
  
}
