@import "../../resource/styles/variables";

.registration {
  position: relative;
  height: calc(100vh - 100px);
  // height: 100vh;
  transform: translateY(50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__stages {
    position: absolute;
    top: 100px;
  }
  &__stage {
    max-width: 600px;
    width: 100%;
  }
}

.node-enter {
  opacity: 0;
}
.node-enter-active {
  opacity: 1;
  transition: opacity 0.3s;
}
.node-exit {
  opacity: 1;
}
.node-exit-active {
  opacity: 0;
  transition: opacity 0.3s;
}

.buttonBye-enter-active {
  opacity: 1;
}
.buttonBye-enter-done {
  opacity: 0;
  transition: opacity 0.3s;
}
.buttonBye-exit-active {
  opacity: 1;
}
.buttonBye-exit-done {
  opacity: 0;
  transition: opacity 0.3s;
}
