@import "../../resource/styles/variables";

.block {
  width: 100%;
  color: $studio-white-element;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  &__right {
    display: flex;
    gap: 20px;
  }
}
