@import "../../resource/styles/variables";

.friends {
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__icon {
    height: 200px;
    path {
      stroke: $studio-primary-element;
    }
    &__title {
      font-size: 24px;
      font-weight: 400;
      color: $studio-white-text;
      text-align: center;
    }
  }
}
