@import "../../resource/styles/variables";

.block {
  position: absolute;
  top: 150%;
  right: 0;
  width: 400px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 15px;
  border: 1px solid $studio-grey-element;
  background-color: $studio-dark-element;
  padding: 20px 20px;
  cursor: default;

  &Title {
    font-size: 20px;
    font-weight: 700;
    color: $studio-white-text;
    text-align: center;
  }

  &List {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    &No {
      background: $studio-darker-element;
      padding: 12px;
      border-radius: 15px;
      font-size: 16px;
      color: $studio-white-text;
      text-align: center;
    }
  }

  &__trash {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;

    svg {
      path {
        stroke: $studio-white-element;
        transition: $studio-transition-03;
      }
    }
    &:hover {
      svg {
        path {
          stroke: $studio-red-element;
        }
      }
    }
  }
}
