@import "../../resource/styles/variables";

.block {
  max-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: $studio-darker-element;
  border-radius: 5px;
  padding: 0 15px;
  &__input {
    width: 100%;
    height: 100%;
    padding-right: 15px;
    outline: 0;
    border: 0;
    border-radius: 5px 0 0 5px;
    font-weight: 200;
    font-size: 16px;
		background: none;
    color: $studio-white-text;
    &::placeholder {
      color: $studio-white-text;
      opacity: 0.5;
    }
  }
  &__btn {
    color: $studio-dark-text;
		font-weight: 500;
		border: 0;
    border-radius: 5px;
    background-color: $studio-primary-button;
    padding: 7px 10px;
    transition: $studio-transition-03;
    cursor: pointer;
    &:hover {
      background: $studio-primary-button-hover;
    }
    // &:disabled {
    //   opacity: 0.5;
    // }
  }
}
