@import "../../resource/styles/variables";

.block {
  width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;

	&__top {
		display: flex;
		flex-direction: column;
		gap: 10px;
		background-color: $studio-dark-element;
		padding: 20px;
		border-radius: 5px;
		&Content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
		}


		&User {
			display: flex;
			align-items: center;
			gap: 10px;
			background-color: $studio-darker-element;
			padding: 5px 10px;
			border: 1px solid transparent;
			border-radius: 10px;
			transition: .3s;

			&Avatar {
				width: 30px;
				height: 30px;
				border-radius: 100%;
				overflow: hidden;
				img, svg {
					width: inherit;
					height: inherit;
				}
				svg {
					padding: 3px;
				}
			}

			&Text {

			}

			&Views {
				display: flex;
				align-items: center;
				gap: 5px;
				&Icon {
					svg	{
						width: auto;
						max-height: 10px;
					}
				}
				&Count {
					font-size: 12px;
					color: $studio-white-text;
				}
			}

			

			&Name {
				color: $studio-primary-text;
				overflow: hidden;
				display: block;
			}
		}
	}

  &__title {
    font-weight: 500;
    font-size: 20px;
    color: $studio-white-text;
		overflow: hidden;
  } 
	
	&__right {
    display: flex;
    gap: 10px;
  }

	&__descr {
		position: relative;
		background-color: $studio-dark-element;
		padding: 20px;
		border-radius: 5px;
		font-weight: 300;
    font-size: 16px;
    line-height: 24px;
		white-space: pre-wrap;
    color: $studio-white-text;
    text-align: justify;
		display: flex;
		flex-direction: column;
		gap: 5px;

		&__item {
			position: relative;
			padding: 4px 10px;
			background: $studio-darker-element;
			border-radius: 5px;
			word-break: break-all;
			overflow: hidden;
			transition: .3s;
			&::before {
				content: '';
				position: absolute;
				bottom: 0%;
				left: 0;
				width: 100%;
				height: 0%;
				background: linear-gradient(0deg, $studio-dark-element, transparent);
				transition: .3s;
			}
			&_expand {
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				
				&::before {
					height: 100%;
				}
			}
		}

		&Button {
			position: relative;
				text-align: center;
				color: $studio-primary-text;
				font-weight: 500;
				cursor: pointer;
		}

  }
}

a.block__topUser {
	&:hover {
		border-color: $studio-primary-border;
	}
}
