@import '../../resource/styles/variables';

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  &__line {
    border: 0;
    height: 1px;
    background-color: $studio-grey-border;
  }
  &__inner {
    max-width: 1650px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    border-radius: 10px;
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    max-width: 209px;
    width: 100%;
  }
  &__text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.2em;
    max-width: 235px;
    text-align: center;
    a {
      text-decoration: none;
      color: $studio-white-text;
    }
    &Contact {
    }
    &Policy {
    }
  }
  &__links {
    max-width: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__link {
    max-width: 35px;
    max-height: 35px;
    &Item {
      width: 35px;
      height: 35px;
    }
  }
}

@media (max-width: $xxl) {
  .footer {
    &__inner {
      max-width: 1470px;
    }
  }
}

@media (max-width: $xl) {
  .footer {
    &__inner {
      max-width: 1270px;
    }
  }
}

@media (max-width: $lg) {
  .footer {
    &__inner {
      max-width: 1022px;
    }
  }
}

@media (max-width: $md) {
  .footer {
    &__inner {
      max-width: 810px;
    }
    &__logo {
      max-width: 180px;
    }
  }
}

@media (max-width: $sm) {
  .footer {
    &__inner {
      max-width: 630px;
    }
    &__logo {
      max-width: 165px;
    }
  }
}

@media (max-width: $xs) {
  .footer {
    &__inner {
      max-width: 430px;
      flex-direction: column-reverse;
    }
    &__links {
      margin-bottom: 20px;
    }
    &__text {
      position: static;
      transform: none;
      margin-bottom: 40px;
    }
    &__logo {
      max-width: 209px;
    }
  }
}
