@import "../../resource/styles/variables";

.block {
	position: relative;

	&__input {
		width: 280px;
		height: 40px;
		background-color: $studio-dark-element;
		border-radius: 20px;
		border: 2px solid $studio-primary-border;
		color: $studio-white-text;
		font-size: 16px;
		padding: 0 40px 0 20px;
		outline: none;
		transition: $studio-transition-03;
	}

	&__eye {
		position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 0 20px 20px 0;
    width: 40px;
    height: 100%;
    cursor: pointer;
    justify-content: center;
		svg {
			width: 20px;
    	height: 20px;
			path {
				stroke: $studio-white-element;
			}
		}
	}
}