@import "../../resource/styles/variables";

.block {
  width: 100%;
  min-height: 110px;
  color: $studio-white-text;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  background-color: $studio-dark-element;
  border-radius: 10px;
  align-items: center;
  position: relative;
  &__title {
    font-weight: 400;
    font-size: 40px;
    
    text-transform: uppercase;
  }
  &__autor {
    font-size: 24px;
    font-weight: 100;
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
}
