@import "../../resource/styles/variables";

.friendCard {
  width: 100%;
  height: 100px;
  background: $studio-darker-element;
	border: 1px solid transparent;
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
  transition: $studio-transition-03;
	&_online &__avatar {
		&::after {
			opacity: 1;
		}
	}
	&:hover {
		border: 1px solid $studio-grey-border;
	}
  &__avatar {
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    overflow: hidden;
    flex: 0 0 80px;
    cursor: pointer;
		&::after {
			content: '';
			position: absolute;
			bottom: 2px;
			right: 2px;
			display: block;
			width: 15px;
			height: 15px;
			background-color: $studio-primary-element;
			border: 2px solid $studio-darker-element;
			border-radius: 100%;
			opacity: 0;
			transition: .3s;
		}
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    	border-radius: 50%;
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    &NickName {
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: $studio-white-text;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    &Fullname {
      color: $studio-white-text;
      font-weight: 100;
      font-size: 14px;
      line-height: 17px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    &__group {
      font-weight: 100;
      font-size: 14px;
      line-height: 17px;
      cursor: pointer;
    }
    &__online {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $studio-primary-text;
    }
  }
  &__buttons {
    margin: 5px 0;
    margin-left: auto;
    &__item {
      margin-bottom: 20px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover img {
        filter: $studio-brightness-element-hover;
      }
      img {
        transition: $studio-transition-03;
      }
    }
  }
}
