@import "../../resource/styles/variables";

.block {
  position: relative;
  z-index: 1;
  background-color: $studio-dark-element;
  border-radius: 5px;
  &__arrow {
    position: absolute;
    z-index: 0;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    path {
      stroke: $studio-white-element;
    }
  }
}

.filter {
  position: relative;
  z-index: 1;
  appearance: none;
  outline: none;
  border: none;
  color: $studio-white-text;
  font-size: 18px;
	padding: 15px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  cursor: pointer;
  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: none;
    border: none;
  }
  &__item {
    width: 100%;
    background-color: $studio-dark-element;
    &:active {
      outline: none;
      border: none;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }
}
