@import "../../resource/styles/variables";

.filter {
  max-width: 390px;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  background-color: $studio-dark-element;
  border-radius: 5px;
  overflow: hidden;
  &__inner {
    margin-top: 15px;
  }

  &__item {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    color: $studio-white-text;

    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;

    display: flex;
    align-items: center;
    cursor: pointer;

    transition: $studio-transition-01;
    &:hover {
      @include studio-mixin-dark-element-hover;
    }
  }

  &__selected {
    @include studio-mixin-dark-element-active;
  }
}

.title {
  margin: 15px 0 0 30px;

  color: $studio-white-text;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.2em;
}
