@import '../../resource/styles/variables';

.burgerBg {
  position: absolute;
  left: 0;
  top: 0;
}

.burger {
  z-index: 6;
  position: fixed;
  left: -285px;
  top: 0;
  width: 285px;
  min-height: 100vh;
  border-radius: 0px 15px 15px 0px;
  background: $studio-dark-element;
  transition: $studio-transition-03;
}

.burgerActive {
  z-index: 6;
  position: fixed;
  left: 0px;
  top: 0;
  width: 285px;
  min-height: 100vh;
  border-radius: 0px 15px 15px 0px;
  background: $studio-dark-element;
  box-shadow: $studio-box-shadow-burger;
  transition: $studio-transition-03;
}

.close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  &Icon {
    display: block;
  }
}

.avatarBlock {
  position: relative;
  margin-top: 50px;
  width: 100%;
  height: 233px;
  overflow: hidden;
  margin-bottom: 20px;
}

.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: $studio-white-text;
}

.notAuth {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $studio-white-text;
  text-align: center;
  margin-top: 10px;
  a {
    transition: all $studio-transition-03;
    &:hover {
      color: $studio-primary-text-hover;
    }
  }
  &__path {
    color: $studio-primary-text;
  }
}

.menu {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  &__item {
    display: flex;
    align-items: center;
    img {
      margin-right: 30px;
    }
    &__text {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-align: center;
      letter-spacing: 0.2em;
      color: $studio-white-text;
      text-decoration: none;
      padding: 10px 0;
      padding-left: 30px;
      &:hover {
        background-color: $studio-dark-element-hover;
      }
    }
  }
}

.popup {
  background-color: $studio-black-opacity-03;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity $studio-transition-03 ease;
  &_active {
    z-index: 5;
    opacity: 1;
  }
}
