@import '../../resource/styles/variables';

.news-paper {
  margin-top: 155px;
  margin-bottom: 50px;
  &__title {
    font-weight: 400;
    font-size: 40px;
    color: $studio-white-text;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__info {
    margin-bottom: 30px;
  }
  &__bottom {
    max-width: min-content;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
