@import '../../resource/styles/variables';

.news-paper {
  margin-top: 155px;
  margin-bottom: 50px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__title {
    font-weight: 400;
    font-size: 40px;
    color: $studio-white-text;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__activity {
    display: flex;
    gap: 20px;
  }

  &__content {
    height: 560px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
  }
  &__info {
    margin-bottom: 30px;
  }
  
}
