@import '../../resource/styles/variables';

.block {
  max-width: 560px;
  width: 100%;
  background-color: $studio-dark-element;
  padding: 25px 35px;
  border-radius: 5px;
  &__title {
    font-weight: 500;
    font-size: 28px;
    color: $studio-white-text;
    margin-bottom: 15px;
		text-align: center;
  }

  &__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
		white-space: pre-wrap;
    color: $studio-white-text;
    text-align: justify;
		display: flex;
		flex-direction: column;
		gap: 5px;
		&__item {
			padding: 4px 10px;
			background: $studio-darker-element;
			border-radius: 5px;
		}
  }
}