@import "../../resource/styles/variables";

:root {
  --transform: 2000px;
}

.profile {
  width: 100%;
  margin-top: 100px;

	&__inner {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 20px;
	}

  &__left {
		display: flex;
		flex-direction: column;
		gap: 20px;
		grid-column-start: 1;
		grid-column-end: 10;

		&-miniature-modal {
			position: absolute;
			z-index: 5;
			top: 0;
			left: 0;
			background-color: $studio-black-opacity-05;
			width: 100%;
			height: 100%;
			&-content {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: $studio-dark-element;
				padding: 50px;
				border-radius: 20px;
			}

			&-img {
			}

			&-btn {
				margin-top: 20px;
			}
		}

		&-user {
			display: flex;
			padding: 40px;
			background: $studio-dark-element;
			border-radius: 10px;

			&-face {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-right: 60px;
				gap: 20px;
			}

			&-avatar {
				position: relative;
				width: 250px;
				height: 250px;
				overflow: hidden;

				&-inner {
					&::after {
						content: "";
						background: url("../../resource/graphics/icons/profile/edit.svg")
							no-repeat center center / 50px rgba(0, 0, 0, 1);
						position: absolute;
						z-index: 3;
						width: 100%;
						height: 100%;
						// background: #000;
						border-radius: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						opacity: 0;
						cursor: pointer;
						transition: $studio-transition-03;
					}

					&:hover {
						&:after {
							opacity: 0.5;
						}
					}
				}

				&-img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 100%;
				}

				&-online {
					position: absolute;
					bottom: 15px;
					right: 15px;
					&_true {
						background-color: #97bce6;
						border-radius: 100%;
						border: 3px solid #27323e;
						width: 35px;
						height: 35px;
					}

					&_false {
						font-weight: 600;
						color: $studio-white-text;
						padding: 2px 10px;
						background-color: $studio-grey-element;
						border: 3px solid $studio-dark-border;
						border-radius: 30px;
					}
				}

				&-input {
					position: absolute;
					display: none;
					width: 0;
					height: 0;
					opacity: 0;
				}

				&-add {
					position: absolute;
					top: 0;
					right: 0;
					max-width: 25px;
					cursor: pointer;
					&:hover {
						transform: scale(0.9);
					}
				}
			}

			&-socials {
				display: flex;
				justify-content: space-between;
				max-width: 175px;
				width: 100%;

				&-icon {
					width: 35px;
					height: 35px;
					border-radius: 100%;
					overflow: hidden;
					cursor: pointer;
					&:hover {
						transform: scale(1.1);
					}
					&-img {
						object-fit: cover;
					}
				}
			}

			&-info {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
			}

			&-name {
				display: flex;
				align-items: center;
				margin-top: 50px;
			}

			&-nickname {
				font-weight: 500;
				font-size: 48px;
				color: $studio-white-text;
			}

			&-achievement {
				margin-left: 20px;
			}

			&-more-info {
				display: flex;
				flex-direction: column;
				font-weight: 400;
				font-size: 18px;
				color: $studio-white-text;
				margin-bottom: 20px;
				margin-top: 10px;
			}

			&-full-name {
				margin-bottom: 5px;
			}

			&-description {
				font-weight: 400;
				font-size: 18px;
				text-align: justify;
				color: $studio-white-text;
				height: 100%;
				background-color: $studio-darker-element;
				border-radius: 5px;
				padding: 10px;
			}
		}
		
		&-content {
			position: relative;
			width: 100%;
			&-settings {
				width: 25px;
				height: 25px;
				position: absolute;
				top: 10px;
				right: 10px;
				cursor: pointer;
				transition: .3s;
				
				svg {
					display: block;
					width: 100%;
					height: 100%;
					transform: rotate(90deg);
					transition: .3s;
					path {
						fill: transparent;
						stroke: $studio-primary-button;
						transition: .3s;
					}
				}

				&:hover, &_active {
					svg {
						transform: scale(0.9);
						path {
							fill: $studio-primary-button;
							stroke: transparent;
						}
					}
				}
			}
			
			&__menu-wrapper {
				margin-bottom: 20px;
				overflow: hidden;
				width: 100%;
				padding: 0px 40px;
				background: $studio-dark-element;
				border-radius: 10px;
			}

			&-main {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap: 20px;
				width: 100%;
				padding: 40px;
				background: $studio-dark-element;
				border-radius: 10px;
				// overflow: hidden;
				&-achievement {
					grid-template-columns: 1fr;
					column-gap: 90px;
					width: 100%;
				}
			}

  	}
  }

	&__friends {
		position: sticky;
		top: 100px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-radius: 10px;
		grid-column-start: 10;
		grid-column-end: 13;
		max-height: 719px;
		&-menu {
			list-style: none;
			display: flex;
			gap: 10px;
			background-color: $studio-dark-element;
			padding: 10px;
			border-radius: 10px;
			&-item {
				position: relative;
				width: 100%;
				text-align: center;
				padding: 10px 15px;
				background-color: $studio-dark-button;
				color: $studio-primary-text;
				font-size: 16px;
				line-height: 20px;
				letter-spacing: 0.1em;
				font-weight: 600;
				border-radius: 10px;
				text-transform: uppercase;
				border: 1px solid $studio-primary-border;
				cursor: pointer;
				transition: all $studio-transition-03;

				&:hover {
					background-color: $studio-dark-element-hover;
				}

				&_active {
					background-color: $studio-primary-button;
					color: $studio-dark-text;
					border: 1px solid $studio-primary-border;
					&:hover {
						background-color: $studio-primary-button-hover;
					}
				}

				&_other {
					border-radius: 0 ;
					border: none;
					color: #fcfcfc;
					pointer-events: none;
				}

				&-circle {
					position: absolute;
					width: 15px;
					height: 15px;
					top: -5px;
					right: -5px;
					background-color: #97bce6;
					outline: 2px solid $studio-dark-border;
					border-radius: 50%;
				}
			}
		}

		&-inner {
			background: $studio-dark-element;
			border-radius: 10px;
			padding: 10px;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}

		&-search {
			outline: none;
			width: 100%;
			background-color: $studio-darker-element;
			border-radius: 5px;
			border: none;
			font-size: 16px;
			padding: 5px 20px;
			font-weight: 400;
			color: $studio-white-text;
		}

		&-content {
			overflow: auto;
			display: flex;
			flex-direction: column;
			gap: 10px;
			&::-webkit-scrollbar {
				width: 0;
			}
		}
  }
 
}

.item {
  &Left {
    &-enter {
      opacity: 0;
      transform: translateX(2000px);
      &-active {
        position: absolute;

        opacity: 1;
        transition: $studio-transition-05 ease-in-out;
        transform: translateX(0px);
      }
    }
    &-exit {
      opacity: 1;
      transform: translateX(0px);
      &-active {
        opacity: 0;
        transition: $studio-transition-05 ease-in-out;
        transform: translateX(var(--transform));
      }
    }
  }
  &Right {
    &-enter {
      opacity: 0;
      transform: translateX(-2000px);
      &-active {
        position: absolute;

        opacity: 1;
        transition: $studio-transition-05 ease-in-out;
        transform: translateX(0px);
      }
    }
    &-exit {
      opacity: 1;
      transform: translateX(0px);
      &-active {
        opacity: 0;
        transition: $studio-transition-05 ease-in-out;
        transform: translateX(var(--transform));
      }
    }
  }
}
