@import '../../resource/styles/variables';

.project {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 120px;
	&__header {
		margin-bottom: 20px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 30px;
		margin-bottom: 20px;
	}
}