@import '../../resource/styles/variables';

.project {
    margin-top: 155px;
    margin-bottom: 50px;
    &__header {
      margin-bottom: 25px;
    }
    &__content {
      height: 560px;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 30px;
    }
  }