@import '../../resource/styles/variables';

.content {
    display: flex;
    flex-direction: column;
		max-width: 1040px;
    width: 100%;
		background-color: $studio-dark-element;
    &__header {
        display: flex;
        align-items: center;
        min-height: 70px;
        background-color: $studio-background-header;
        padding: 0 10px;
        &Info {
            display: flex;
            flex-direction: column;
            gap: 5px;
            &Name {
                font-size: 16px;
                font-weight: 700;
                color: $studio-white-text;
            }

            &Online {
                font-size: 12px;
                font-weight: 500;
								color: $studio-grey-text;
								&_primary {
									color: $studio-primary-text;
								}
            }
        }
    }

    &__inner {
			position: relative;
			display: flex;
			gap: 10px;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			flex: 1 1 auto;
			color: $studio-white-text;
			background: $studio-dark-element;
			overflow-y: auto;
			overflow-x: hidden;
			padding: 10px;

			&Text {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
                        &_date {
                                padding: 7px 15px;
                                background: $studio-darker-element;
                                border-radius: 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0 auto;
                                color: $studio-white-text;
                                font-weight: 500;
                                font-size: 14px;
                                &:first-child {
                                        margin-top: auto;
                                }
                        }
                        &_unread {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 7px 0;
                                color: $studio-primary-text;
                                font-weight: 500;
                        }
                        &_active {
                                        flex-direction: column-reverse;
                                        justify-content: flex-start;
                                        align-items: flex-start;
                        }

			&ScrollButton {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: -65px;
				right: 15px;
				width: 50px;
				min-height: 50px;
				border-radius: 50%;
				background-color: $studio-light-dark-element;
				z-index: 2;
				cursor: pointer;
				transition: .3s background-color;

				&:hover {
					background-color: $studio-dark-bright-element;
				}
				svg	{
					display: block;
					width: 22px;
					height: auto;
				}
				&NotReadCount {
					position: absolute;
					top: -5px;
					min-width: 11px;
					font-size: 12px;
					box-sizing: content-box;
					text-align: center;
					background-color: $studio-primary-element;
					border-radius: 10px;
					padding: 2px 4px;
				}
			}
    }

    &__bottom {
			position: relative;
      width: 100%;
			&Reply {
				min-height: 0;
				position: relative;
				z-index: 2;
				background-color: #222c36;
				width: 100%;
				transform-origin: center bottom;
				display: flex;
				justify-content: space-between;
				align-items: center;
				// padding: 7px 10px 7px 0px;
				padding-right: 10px;
				&Wrapper {
					display: grid;
					opacity: 0;
					grid-template-rows: 0fr;
					align-items: start;
					transition: grid-template-rows 0.15s, opacity 0.15s, padding 0s 0s;
					&_active {
						grid-template-rows: 1fr;
						opacity: 1;
						.content__bottomReply {
							padding: 7px 10px 7px 0px;
						}
					}
				}
				&Icon {
					display: flex;
					justify-content: center;
					min-width: 50px;
					svg {
						display: block;
						height: 30px;
						fill: $studio-primary-element;
					}
				}

				&Info {
					display: flex;
					flex-direction: column;
					gap: 2px;
					width: calc(100% - 35px);
					> * {
						font-size: 14px;
						font-weight: 500;
					}
				}
				&Text {
					color: $studio-primary-text;
				}

				&User {
					display: inline-block;
					color: $studio-primary-bright-text;
					font-weight: 600;
				}

				&Message {
					color: $studio-white-text;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					overflow: hidden;
					word-break: break-all;
				}
				&Close {
					svg {
						display: block;
					}
				}
			}
			
    }

		&__modal {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 6;
			width: 100%;
			height: 100%;
			background-color: $studio-black-opacity-02;
			display: flex;
			justify-content: center;
			align-items: center;
		}
}