@import "../../resource/styles/variables";

.groups {
  width: 100%;
  margin-top: 150px;
  color: $studio-white-text;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 500;
    font-size: 40px;
    
    margin-bottom: 50px;
  }

  &__spSelect-wrapper {
    margin-bottom: 50px;
  }

  &__spSelect {
    display: block;
    &_mobile {
      display: none;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: $lg) {
  .groups {
    &__wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: $md) {
  .groups {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: $sm) {
  .groups {
    &__spSelect {
      display: none;
      &_mobile {
        display: block;
      }
      &-wrapper {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: $xs) {
  .groups {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
