@import "../../resource//styles/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  box-shadow: $studio-box-shadow-header;
  background: $studio-background-header;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__burgerBtn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: $studio-transition-03;
    &:hover {
      @include studio-mixin-white-element-hover;
    }
    &:active {
      @include studio-mixin-white-element-active;
    }
  }
  &__logo {
    position: absolute;
    left: 60px;
		width: 200px;
    svg {
      display: block;
			width: 100%;
    }
  }
  &__search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 530px;
    width: 100%;
    height: 45px;
    margin: 0 25px;
    
    &__input {
      width: 100%;
      height: 100%;
      padding: 0 50px 0 15px;
      background: none;
      outline: none;
      border: none;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: $studio-white-text;
			border: 1px solid $studio-grey-border;
    	border-radius: 15px;
			transition: .3s;
			&:focus {
				border: 1px solid $studio-primary-border;
			}
    }
    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      transition: $studio-transition-03 ease;
      pointer-events: none;
			* {
				transition: .3s;
			}
    }
  }

  &__createButtonPopUp {
    display: flex;
    gap: 20px;
  }
}

@media (max-width: $lg) {
  .header {
    &__logo {
      display: none;
    }
  }
}
