@import "../../resource/styles/variables";

.projects {
  margin-top: 150px;
  width: 100%;

  &__title {
    font-weight: 500;
    font-size: 34px;
    line-height: 49px;
    letter-spacing: 0.1em;
    color: $studio-white-text;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__searchSettings {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

    &-search {
      grid-column-start: 1;
      grid-column-end: 5;
    }

    &-filter {
      grid-column-start: 5;
      grid-column-end: 6;
    }
  }

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
    // overflow: hidden;
    &:last-child {
      margin-top: 25px;
    }
  }

  &__link {
    display: block;
    border-radius: 5px;
    width: 100%;
  }

  &__error {
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 18px;
    font-weight: 400;
    color: $studio-white-text;
  }

  &__spinner {
    grid-column-start: 2;
    grid-column-end: 4;
    // margin: 0 auto;
    margin-top: 40px;
  }
}

.slick-list {
  padding: 20px 10px;
}

.slick-arrow {
  &::before {
    content: "";
  }
}

// .slick-slide {
//   margin-right: 15px;
// }

.splide {
  width: calc(100% + 40px);
  transform: translateX(-20px);

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    height: 100%;
    // transform: translateY(20px);
    width: 100px;
    z-index: 3;
    background: linear-gradient(90deg, #202b35 0%, hsla(209, 25%, 17%, 0.5) 70%, transparent 100%);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    height: 100%;
    // transform: translateY(20px);
    width: 100px;
    z-index: 3;
		background: linear-gradient(-90deg, #202b35 0%, hsla(209, 25%, 17%, 0.5) 70%, transparent 100%);
  }
  &__track {
    padding: 20px !important;
  }
  &__slide {
    border: none !important;
  }
  &__slide.is-active {
    border: none !important;
  }
  &__arrow {
    svg {
      fill: none;
    }
    &--next {
      z-index: 5;
      right: 35px;
    }
    &--prev {
      z-index: 5;
      left: 35px;
    }
  }
  &__arrows {
    z-index: 5;
  }
}

@media (max-width: $xxl) {
  .projects {
    &__title {
      font-size: 34px;
    }
  }
}

@media (max-width: $xl) {
  .projects {
    &__title {
      font-size: 30px;
    }
  }
}

@media (max-width: $lg) {
  .projects {
    &__searchSettings {
      grid-template-columns: 1fr 1fr 1fr;

      &-search {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &-filter {
        grid-column-start: 3;
        grid-column-end: 4;
      }
    }

    &__wrapper {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__spinner {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
}

@media (max-width: $md) {
  .projects {
    &__searchSettings {
      grid-template-columns: 1fr 1fr;

      &-search {
        grid-column-start: 1;
        grid-column-end: 2;
      }

      &-filter {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }

    &__wrapper {
      grid-template-columns: 1fr 1fr;
    }
    &__spinner {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

@media (max-width: $sm) {
  .projects {
    &__title {
      font-size: 24px;
    }
  }
}

@media (max-width: $xs) {
  .projects {
    &__searchSettings {
      grid-template-columns: 1fr;

      &-search {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      &-filter {
        grid-column-start: 1;
      }
    }

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__spinner {
      grid-column-start: 1;
      grid-column-end: 2;
      // margin: 0 auto;
      margin-top: 40px;
    }
  }

  .splide {
    &::before {
      content: none;
    }
    &::after {
      content: none;
    }
  }
}
