@import "../../resource/styles/variables";

.themeChangeButton {
  width: 37px;
  height: 37px;
  border: 1px solid $studio-white-border;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  &__popUp {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 100px;
    border-radius: 15px;
    border: 1px solid $studio-grey-border;
    position: absolute;
    bottom: -113px;
    right: 0;
    background-color: $studio-dark-element;
    align-items: center;
  }
  &__popUpThemes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    cursor: default;
  }
  &__item {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    margin-top: 15px;
    border: 1px solid $studio-white-border;
    cursor: pointer;
    &_black {
      background-color: #2e3439;
    }
    &_blue {
      background-color: #67869c;
    }
    &_white {
      background-color: #dfdfdf;
    }
  }

  &__title {
    margin-top: 15px;
    text-align: center;
    color: $studio-white-text;
    font-weight: 500;
    font-size: 16px;
  }
}

.brushIcon {
  width: 20px;
  height: 20px;
}
