@import "../../resource/styles/variables";

.groupsManagement {
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    align-items: center;
    &__title {
        font-size: 24px;
        color: $studio-white-text;
        font-weight: 500;
        margin-bottom: 50px;
    }

    &__inner {
        width: 100%;
    }
    &__settings {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        &-left {
            display: flex;
            align-items: center;
            gap: 40px;
            &-item {
                padding: 10px 20px;
                border-radius: 10px;
                background-color: $studio-dark-element;
                color: $studio-white-text;
                font-size: 20px;
                font-weight: 400;
                cursor: pointer;
                &_active {
                    @include studio-mixin-dark-element-active;
                }
                
            }
        }  
    
        &-right {
            display: flex;
            align-items: center;
            gap: 20px;
            &-item {
                position: relative;
                &-select {
                    padding: 10px 62px 10px 20px;
                    border-radius: 10px;
                    background-color: $studio-dark-element;
                    color: $studio-white-text;
                    font-size: 20px;
                    font-weight: 400;
                    border: none;
                    appearance: none;
                    outline: none;
                    cursor: pointer;
                }
                &-search {
                    padding: 10px 62px 10px 20px;
                    border-radius: 10px;
                    background-color: $studio-dark-element;
                    color: $studio-white-text;
                    font-size: 20px;
                    font-weight: 400;
                    border: none;
                    outline: none;
                }
                &-button {
                    padding: 10px 20px;
                    border-radius: 10px;
                    background-color: $studio-dark-element;
                    color: $studio-white-text;
                    font-size: 20px;
                    font-weight: 400;
                    cursor: pointer;
                }
                &-icon {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    path {
                        stroke: $studio-white-element;
                    }
                }
            }
        }
    }

     
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }

}