@import "../../resource//styles/variables";

.headerMessenger {
	position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background: $studio-background;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
	&__wrapper {
		position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	}
	&__burgerBtn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: $studio-transition-03;
    &:hover {
      @include studio-mixin-white-element-hover;
    }
    &:active {
      @include studio-mixin-white-element-active;
    }
  }
	&__createButtonPopUp {
    display: flex;
    gap: 20px;
  }
}