@import "../../resource/styles/variables";

.block {
  display: flex;
  align-items: center;
	gap: 10px;
  background-color: $studio-darker-element;
  padding: 8px 15px;
	border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
	transition: .3s;
	&:hover {
		border-color: $studio-grey-border;
	}

	&_noClicked {
		cursor: default;
		&:hover {
			border-color: transparent;
		}
	}

  &__img {
		width: auto;
    max-width: 18px;
    height: 15px;
    &__active {
      path {
        fill: $studio-red-element;
      }
    }
  }
  &__amount {
    font-weight: 500;
    font-size: 16px;
    color: $studio-white-text;
  }
}
