@import "../../resource/styles/variables";

.block {
  display: flex;
  background-color: $studio-darker-element;
  padding: 10px 20px;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  &__img {
    max-height: 20px;
    &__active {
      path {
        fill: $studio-red-element;
      }
    }
  }
  &__amount {
    font-weight: 500;
    font-size: 16px;
    color: $studio-white-text;
    margin-left: 10px;
  }
}
