@import "../../resource/styles/variables";

a {
  text-decoration: none;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  &__title {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.2em;
    color: $studio-white-text;
    margin-right: 50px;
    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
    }
  }
  &__propose {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
  }
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 50px;
  }
}

@media (max-width: $xxl) {
  .news {
    &__cards {
      row-gap: 40px;
    }
    &__title {
      font-size: 34px;
    }
  }
}

@media (max-width: $xl) {
  .news {
    &__title {
      font-size: 30px;
    }
  }
}

@media (max-width: $lg) {
  .news {
    &__cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: $md) {
  .news {
    &__cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: $sm) {
  .news {
    &__title {
      font-size: 24px;
      &-wrapper {
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: $xs) {
  .news {
    &__cards {
      grid-template-columns: 1fr;
    }
    &__title {
      margin-right: 0;

      &-wrapper {
        justify-content: center;
        margin-bottom: 20px;
      }
    }
  }
}
