@import "../../resource/styles/variables";

.cross {
	display: flex;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: $studio-transition-03;
	&:hover {
			background-color: $studio-white-element;
			path {
					stroke: $studio-dark-element;
			}
	}

	svg {
			transform: rotate(45deg);
			width: 18px;
			height: 18px;
			path {
					// transition: $studio-transition-03;
			}
	}
}