@import '../../resource/styles/variables';

.sideBar {
	max-width: 340px;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: $studio-darker-element;
	border-right: 1px solid $studio-black-opacity-03;
	&__header {
		height: 70px;
		background-color: $studio-background-header;
		display: flex;
		align-items: center;
		padding: 0px 10px;
	}

	&__search {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 10px;
		background-color: $studio-grey-element;
		border-radius: 10px;
		padding: 10px;
		&Input {
			width: 100%;
			background-color: transparent;
			border: none;
			outline: none;
			font-size: 12px;
			color: $studio-white-text;
			&::placeholder {
				color: $studio-grey-text;
			}
		}

		&Icon {
			svg {
				display: block;
				width: 10px;
				height: 10px;
			}
		}
	}

	&__chats {
		display: flex;
		gap: 5px;
		flex-direction: column;
		padding: 0px 10px;
	}
}